.form {
  border: 1px solid #787878;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.form fieldset {
  margin: 2rem 0 2.5rem 0;
  width: 80%;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.form button {
  font-size: 1.6rem;
  width: 300px;
  padding: 0.5em 0.5em;
}

.form button:not([disabled]) {
  background-color: rgb(171, 212, 180);
}

.form button:hover:not([disabled]), button:focus {
  cursor: pointer;
  background-color: rgb(146, 192, 156);
}
