.table {
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #787878;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  font-size: 2rem;
}

.nodata {
  width: 100%;
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid #787878;
  text-align: center;
  padding: 2em 0;
}