.inputContainer {
  margin-top: 0.75em;
  width: 100%;
}

.label {
  display: inline-block;
  text-align: right;
  font-size: 2rem;
  margin-right: 0.5em;
  width: 20%;
}

.input {
  font-size: 2rem;
  width: 30%;
  padding: 0 0.5rem;
  height: 3rem;
}

.input:invalid {
  border: 2px solid red;
}
