.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 1em 0;
  background-color: #efefef;
  border-bottom: 1px solid #acacac;
}
