.tab {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 0.2em;
  padding: 0.5em;
  font-size: 1.8rem;
  border-top: 1px solid #acacac;
  border-left: 1px solid #acacac;
  border-right: 1px solid #acacac;
  border-bottom: none;
}

.tab:hover {
  cursor: pointer;
}

.tab:hover, .active {
  background-color: rgb(171, 212, 180);
}